@import "tailwindcss";

@theme {
  --color-primary: #78b309;
  --color-secondary: #1A2A5A;
  --color-background-light: #f7f8f5;
  --color-background-dark: #1c2210;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-secondary dark:text-white antialiased;
  }
}